/* 詳細ページ */

.v-s_main_full {
  overflow: scroll;
  height: 100vh;
}

.v-s_main_full::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


.v-s_main {
  display: flex;
}

.show_video {
  width: 750px;
  height: 571px;
  box-shadow: 5px 5px #ffe3d8;
  border: solid 1px #ffe3d8;
  margin: 20px 0 0 30px;
}

.video_tag {
  margin-left: 12px;
  margin-top: 12px;
}

.video_details {
  display: flex;
}

.show-video-title {
  width: 500px;
  font-size: 30px;
  margin: 30px 30px 0;
  color: #03506f;
}

.overview-service {
  margin: 25px 30px 0 0;
}
#overview-service {
  margin: 25px 30px 0 0;
}

.overview-service-no{
  margin: 25px 30px 0 0;
  background-color: rgb(231, 137, 231);
}

.genre-name {
  color: #03506f;
}

.video-show2 {
  overflow: scroll;
  width: 750px;
  height: 150px;
  box-shadow: 5px 5px #ffe3d8;
  border: solid 1px #ffe3d8;
  margin: 20px 0 0 30px;
}

.video-date {
  text-align: center;
  margin: 3px 0 3px 0;
  color: #03506f;
}

.video-overview {
  padding: 5px 0 0 0;
  text-align: center;
  color: #03506f;
  border-top: solid 1px #ffe3d8;
}

.overview {
  margin: 10px 40px 0 40px;
  font-size: 18px;
  color: #03506f;
}

.v-s_main2 {
  overflow: scroll;
  width: 300px;
  height: 741px;
  box-shadow: 5px 5px #ffe3d8;
  border: solid 1px #ffe3d8;
  margin: 20px 0 0 30px;
}

.show_video_box {
  margin-left: 5px;
}

.show_video_box_title {
  text-align: center;
  color: #03506f;
  font-size: 20px;
}

.comment_main_box {
  margin: 50px 0 50px 30px;
  width: 1075px;
  height: 500px;
  border: solid 1px #ffe3d8;
  box-shadow: 5px 5px #ffe3d8;
  overflow: scroll;
}

.comment_input {
  margin-top: 30px;
  text-align: center;
}

.comment_input_box {
  width: 600px;
  height: 30px;
  border: none;
  border-bottom: solid 1px #bbbbbb;
}

.send_btn {
  width: 100px;
  height: 25px;
  margin-left: 50px;
  background-color: #ffffff;
  border: solid 1px #03506f;
}

.comment_all {
  margin-top: 30px;
}

.comment_date {
  margin: 30px 0 10px 50px;
  color: #03506f;
}

.comment_text{
  margin: 10px 70px 30px 70px;
  color: #03506f;
  font-size: 20px;
  border-bottom: solid 1px #bbbbbb;
}

